.donation {
  width: 327px;
  height: 529px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal__donation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn--donationModalClose {
  background-image: url(../assets/images/btn_delete_24px.png);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.donation__profile-img {
  width: 158px;
  height: 206px;
  border-radius: 8px;
}

.donation__description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}
.donation__subtitle {
  font-size: 12px;
  color: #67666e;
}

.donation__title {
  font-size: 14px;
  color: #f7f7f8;
}

.new-donation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input.input__donation {
  width: 100%;
  padding: 5px;
  background-color: #272f3d;
  background-repeat: no-repeat;
  background-position: 95% center;
  color: white;
  border: solid 1px white;
  border-radius: 8px;
}

input.input__donation::placeholder {
  padding: 0 5px;
  color: var(--color-gray-67666E);
  font-size: 14px;
}
