.funding {
  padding: 50px;
}
.sliderWrapper {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 1rem;
  scrollbar-width: none;
}
.sliderWrapper::-webkit-scrollbar {
  display: none;
}

.donationContainer {
  display: flex;
  gap: 16px;
}
.favorite {
  margin: 20px 10px;
}
.buttonContainer {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}
.idolCard {
  min-width: 240px; /* 카드 하나의 너비 */
  max-width: 240px;
  flex-shrink: 0; /* 축소되지 않게 고정 */
  border-radius: 12px;
  padding: 16px;
  box-sizing: border-box;
}

.idolProfileImage {
  width: 230px;
  height: 280px;
  border-radius: 1px solid #dfdfdf;
}
.donationStatus {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
}

.monthlyChartContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.idol p {
  font-size: var(--font-size-md);
}
.idol h2 {
  font-size: var(--font-size-lg);
}

.idolChart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.idolProfile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.idolProfile .idolProfileImage {
  width: 98px;
  height: 98px;
  object-fit: cover;
  border-radius: 50%;
}

/*모달창 테스트 css*/
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; /* 적절히 높여야 보일 수 있음! */
  display: flex;
  align-items: center;
  justify-content: center;
}
