.funding {
  padding: 0 30px;
}
@media (max-width: 768px) {
  .funding {
    padding: 0px;
  }
}

.funding-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.funding .btn--medium {
  width: 150px;
}

.sliderWrapper {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.sliderWrapper::-webkit-scrollbar {
  display: none;
}

.donationContainer {
  display: flex;
  gap: 16px;
}

.favorite {
  padding: 30px;
}

.favorite-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.favorite .btn--medium {
  width: 150px;
  width: auto;
  border-radius: var(--border-radius-xs);
}

.buttonContainer {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.monthlyChartContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/*모달창 테스트 css*/
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; /* 적절히 높여야 보일 수 있음! */
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContent {
  width: 300px;
  height: 150px;
  background-color: var(--color-orange-F96D69);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px; /* 요소 간 간격 */
}

.voting {
  height: 800px;
}
