.funding {
  padding: 0 30px;
}
@media (max-width: 768px) {
  .funding {
    padding: 0px;
  }
}

.funding-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.funding .btn--medium {
  width: 150px;
}

.sliderWrapper {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.sliderWrapper::-webkit-scrollbar {
  display: none;
}

.donationContainer {
  display: flex;
  gap: 16px;
}

.favorite {
  padding: 30px;
}

.favorite-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.favorite .btn--medium {
  width: 150px;
  width: auto;
  border-radius: var(--border-radius-xs);
}

.buttonContainer {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.monthlyChartContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}